page-phone-no-reg {
        /* background-image: url(../../assets/imgs/bg_wood.jpg);
    background-repeat: no-repeat;
    height: 100%; 

    /* Center and scale the image nicely 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
        background-color: #ff57228f;
    .content-md {
        color: #fff;
    }
    .modal-wrapper{
        height: 70%;
        margin-top: 25%;
    }
    .phone-reg-wrapper{
        margin-top: -5%;
    }
    .back-btn-div{
        margin-bottom: 50%;
        font-weight: bolder;
        font-size: 30px;
        margin-left: -10%;
    }
    .back-btn{
        font-size: 25px;
    }
    .sms-lbl{
        margin-left: 20%;
    }
}

