page-phone-no-reg {
    background-image: url(../../assets/imgs/bg_wood.jpg);
    .content-md {
        color: #fff;
        background-color: #ff57228f;
    }
    .modal-wrapper{
        height: 70%;
        margin-top: 25%;
    }
    .phone-reg-wrapper{
        margin-top: 10%;
    }
    .back-btn-div{
        margin-bottom: 50%;
        font-weight: bolder;
        font-size: 30px;
    }
    .back-btn{
        font-size: 25px;
    }
}

