page-registration {
    background-color: #17012f94;
    .content-md {
        color: #fff;
    }
    .button-md-darkButton {
        height: 80PX;
        margin-bottom: 20px;
    }
    .lower-intro{
        margin-top: 10%;   
    }
    .modal-wrapper{
        height: 70%;
        margin-top: 25%;
    }
    .reg-icon{
        font-size: 50px;
        font-weight: bold;
    }
    .reg-options{
        text-align: center;
        margin-top: 10%;
    }
}
