page-intro {
    background-image: url(../../assets/imgs/bg_wood.jpg);
    ion-slides{
        height: 70%;
    }
    .lower-intro{
        text-align: center;
        margin: auto;
        width: 80%;
    }
    .content-md {
        color: #fff;
        background-color: #ff57228f;
    }
    .swiper-pagination-bullet-active {
        background: #fff;
      }
      .button-md-darkButton{
          color: #488aff;
          height: 50px;
          font-size: 25px;
     font-weight: bolder;
      }
      .button-clear-md{
        font-weight: bolder;
        font-size: 18px;
        text-decoration: underline;
      }
}
